{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Carousel Code -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#slides" data-slide-to="0" class="active"></li>
  <li data-target="#slides" data-slide-to="1"></li>
  <li data-target="#slides" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/img/Carousel_1.png">
  </div>
  <div class="carousel-item">
    <img src="/img/Carousel_2.png">
    <div class="carousel-caption">
      <h3 class="display-2">CREATE SURVEYS</h3>
      <a href="/generate" class="btn btn-dark">Generate</a>
    </div>
  </div>
  <div class="carousel-item">
    <img src="/img/Carousel_3.png">
    <div class="carousel-caption">
      <h3 class="display-2">VIEW TOP SURVEYS</h3>
      <a href="/survey" class="btn btn-dark">View Surveys</a>
    </div>
  </div>
</div>
</div>

<!-- Website Features Code -->
<div class="container-fluid padding">
  <h1 class="display-4" align="center" id="Feature">powered by</h1>
<div class="row text-center padding">
  <div class="col">
    <img src="/img/bold-solid.svg" id="iconImage" class="filter-purple">
    <h3 id="line">BOOTSTRAP4</h3>
  </div>
  <div class="col">
    <img src="/img/code-solid.svg" id="iconImage" class="filter-orange">
    <h3 id="line">HTML5</h3>
  </div>
  <div class="col">
    <img src="/img/css3-alt-brands.svg" id="iconImage" class="filter-blue">
    <h3 id="line">CSS3</h3>
  </div>
  <div class="col">
    <img src="/img/python-brands.svg" id="iconImage" class="filter-yellow">
    <h3 id="line">PYTHON</h3>
  </div>
  <div class="col">
    <img src="/img/js-brands.svg" id="iconImage" class="filter-green">
    <h3 id="line">JAVASCRIPT</h3>
  </div>
</div>
<hr class="my-4">
</div>

<!-- About me Card -->
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4" id="cardTitle">Developer</h1>
  </div>
  <hr>
</div>
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
  <div class="col-12">
    <div class="card" id="card1">
      <img class="card-img-top" src="/img/card.jpg">
      <div class="card-body">
        <h4 class="card-title">Nishit De</h4>
        <p align="justify" class="card-text">Nishit has completed his undergraduate in Computer Engineering in 2019, and didn't have a job then. Now, he is currently pursuing Masters in Computer Science from Drexel University, and still doesn't have a job. Don't be like Nishit, get a job. And, maybe, give him one too.</p>
        <a href="https://github.com/nishitde" class="btn btn-dark" target="_blank">See Projects</a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
